<div>

    <div class="modal-header">
        <h4 class="modal-title">Agregar un nuevo servicio</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="_activeModal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
    
        <form>
          <!-- Name service -->
          <div class="form-group row">
            <label for="inputEmail3" class="row col-form-label">Nombre del servicio</label>
            <div class="row">
              <!-- <input type="text" class="form-control" id="inputEmail3" [(ngModel)]="favoriteColor"> -->
              <input type="text" class="form-control" id="inputEmail3">
            </div>
          </div>
          <!-- Service type -->
          <div class="form-group row">
            <label for="inputEmail3" class="row col-form-label">Tipo de servicio</label>
            <div class="row">
              <input type="text" class="form-control" id="inputEmail3">
            </div>
          </div>
          <!-- Billing date -->
          <div class="form-group row">
            <label for="inputEmail3" class="row col-form-label">Día de cobro</label>
            <div class="row">
              <input type="number" class="form-control" id="inputEmail3">
            </div>
          </div>
          <!-- Price service -->
          <div class="form-group row">
            <label for="inputEmail3" class="row col-form-label">Precio del servicio</label>
            <div class="row">
              <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
            </div>
          </div>
    
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </div>
        </form>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="createService()">Agregar servicio</button>
        <button type="button" class="btn btn-danger" (click)="_activeModal.close('Close click')">Cancelar</button>
      </div>

</div>