.modal-box-result {
    height: 400px;
}

.set-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box {
    height: 250px;
    width: 280px;
}

.btn-size {
    width: 280px;
}