<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div id="main" class="body">
            <header id="header">
                <div class="wrap">
                    <h1>NUESTRO SITIO BANCARIO</h1>
                </div>
            </header>
            <section id="contents">
                <div class="wrap">
                    <h2>BAJO <br> CONSTRUCCIÓN</h2>
                    <div class="loader">
                        <img src="../../../../../assets/images/backgrounds/cinta.png" class="img">
                    </div>
                    <div class="percentage">
                        ¡Estamos preparándo el sitio para ustedes! <br>
                        Pueden encontrar más información haciendo click
                        <a href="https://sites.google.com/s/1pDrL1Ag_Rr1rgLnpsW2pnTtMPGsuh2j0/edit?ts=637ac9a3" 
                           target="_blank"
                           style="color: yellow;"
                        > aquí </a>
                    </div>
                </div>
            </section>

            <footer id="footer">
            </footer>

        </div>
    </div>
</div>