<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- add service -->
        <div class="row row-position">
          <button class="btn btn-success add-btn-style" (click)="openNewServiceModal()"> 
            <mat-icon class="plus-btn"[svgIcon]="'heroicons_outline:plus'"></mat-icon>
            Agregar servicio 
          </button>
        </div>
        
        <!-- table content -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
            <!-- Position Column -->
            <ng-container matColumnDef="Servicio">
              <th mat-header-cell *matHeaderCellDef> Servicio </th>
              <td mat-cell *matCellDef="let element">
                
                <div class="row display-content">
                    <div class="col-auto">
                        <img
                            class="img-box" 
                            src="../../../../assets/images/avatars/brian-hughes.jpg">
                    </div>
                    <div class="col">
                        <b style="font-size:15px;">{{element.name_service}}</b>
                        <br>
                        Fec. Venc: {{element.billing_date}}
                    </div>
                </div>
              
            </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="Identificador">
              <th mat-header-cell *matHeaderCellDef> Identificador </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="Deuda">
              <th mat-header-cell *matHeaderCellDef> Deuda </th>
              <td mat-cell *matCellDef="let element"> ${{element.price_service}} </td>
            </ng-container>

            <ng-container matColumnDef="Pagar">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" class="text-center"> 
                <!-- Button trigger modal -->
                <button *ngIf="element.can_pay == 1" type="button" class="btn btn-success" (click)="open( element.name_service, element.price_service )">Pagar</button>
                <button *ngIf="element.can_pay == 0" type="button" class="btn btn-secondary" disabled >Pagar</button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

    </div>
</div>
