table {
    width: 100%;
}

.mat-table{    
    border-radius: 8px;
    overflow:hidden !important;
}

.display-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    width:70px; 
    height:70px;
    border-radius: 10px;
}

tr.mat-row {
    height: 100px !important; 
}

tr.mat-header-row {
    height: 80px !important;
}

th.mat-header-cell {
    font-size: 18px !important;
}

.row-position {
    display: flex; 
    justify-content: end;
    padding-right: 10px;
}

.add-btn-style {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 175px;
    height: 40px;
    background-color: #4CAF50;;
    color: white;
    border-radius: 5px;
}

.plus-btn {
    color: white;
    margin-right: 5px;
}

.form-group {
    padding-left: 25px !important;
}